* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.items {
    padding: 20px;
    text-decoration: none;
    color: #fff;
}
.items:hover {
    color: #4A00E0;
}

.items:active {
    color: #4A00E0;
}
.dd {
    color: #fff;
}

/* .dd:hover {
    color: #4A00E0;
} */
